table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    box-shadow: 7px 7px 6px black inset;
    font-size: 1.2em;
}
th {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    text-shadow: 2px 2px 4px black;
}
td {
    text-align: left;
    vertical-align: text-top;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid black;
}
tfoot {
   background-color: blue;
   font-weight: bold;
}
table tfoot td {
    border: 3px solid #999;
}
caption {
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: bold;
}