body{
 
   margin: 0 40px;
}
li{
    list-style-type: none;
}

.bloc{
    border: 1px solid black;
    width: 400px;
    height: 50px;
    padding-top: 30px;
    padding-left: 20px;
    
}

.fa-times{
    margin-left: 150px;
}