
/*-------style de l'app et des deux types de vidéos-------*/

html{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.App{
  margin: 20px 10px;
  display: flex;
  
}

.first-videos{
  text-align: center;
  width: 65%;
}
.second-videos{
  width: 30%;
}

/***************Style de la search bar******************/
.search{
    margin-bottom: 30px;
    transition: .5s;
}

.search input{
  width: 400px;
  height: 28px;
  border-radius: 25px 0 0 25px;
  border-color: #e5e5e5;
  outline: none;
  font-size: 20px;
  padding: 0 20px;
  margin-right: 5px;
  transition: 5s;
}

.search button{
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 30px;
 padding-top: 8px;
 padding-bottom: 2px;
 cursor: pointer;
 background: #ffc107;
 text-align: center;
 
}

.search button:hover{
  background: #ff5722;
}

/*-------------style des videos listes****************/

li {
  list-style-type: none;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

li:hover{
  background: whitesmoke;
}

li img{
  padding-top: 10px;
  width: 168px;
  height: 94px;
  margin-right: 20px;
  box-shadow: 3px 3px 3px black;
}

ul {
  border: 1px solid #ffc107 ;
}


